---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

.post-preview {
  border: 0;
  background: var(--card-bg);
  box-shadow: var(--card-shadow);

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(189, 129, 245);
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
  }

  &:hover {
    &::before {
      opacity: 0.1;
    }
  }
}